/*Colors*/
.background_blue1 {
	background-color: #0088CC;
}
.background_gray1 {
	background-color: #C0C0C0;
}
.background_green1 {
	background-color: #6CCA43;
}
.color_blue1 {
	color: #0088CC;
}
.color_gray1 {
	color: #C0C0C0;
}
.color_green1 {
	color: #6CCA43;
}
.color_white {
	color: #FFF;
}