/* Module for VERTICALLY ALIGNING elements in a column layout. */
/* 	boxAlign goes on a container. 
	boxAlign_column goes on the elements you want to vertically align.
*/
.boxAlign {
	display:table;
	width:100%;
}
.boxAlign_column {
	display:table-cell;
	vertical-align:middle;
}