/*base*/
*, *:before, *:after {
	box-sizing: inherit;
	background-repeat:no-repeat;
	vertical-align:inherit;
	white-space:initial;
	text-overflow:inherit;
}
html {
	font-size: 62.5%;
	box-sizing: border-box; /* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	background-color:#FFF;
	margin:0;
	padding:0;
	/*Defaults for cascading - inherited by child elements */
	color:#333;
	cursor:default;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size:1.4rem;
	font-style:normal;
	font-weight:normal;
	line-height:1.3;
	text-align:left;
	visibility:visible;
	white-space:normal;
}
h1, h2, h3, h4, h5, h6 {
	margin:3px 0 0 0;
	line-height:normal;
}
p {
	line-height:1.5;
}
a {
	color: #06c;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
hr {
	border-top: 1px solid #757575;
	border-bottom-width:0;
	margin:8px auto;
	background:tranparent;
}